@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 245, 220, 245;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    overflow-wrap: normal;
    word-break: normal;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.carousel-container {
  max-height: 450px; 
}

.slick-list, .slick-track{
  height: 100% !important;;
}

.slick-slide{
  vertical-align: middle;
}

.slick-slide > *{
  display: flex;
  vertical-align: middle;
  justify-content: center;
  height: 100%;
}

.carousel-must-flex{
  display: flex!important;
  vertical-align: middle!important;
  justify-content: center;
  align-items: center;
  height: 100%!important;
  background: radial-gradient(white, black)
}